body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
        font-size: 13px!important;
    line-height: 1.42857143!important;
     
  }
  h1,.w3-wide {font-family: "Montserrat", sans-serif;}
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;

  }

  .dropdown-menu>li>a{
  font-size: 14px!important;
}

   .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
    background-color:rgb(66,62,149);/*#c1c1c1;*/
    border-bottom-color: #d69f37!important;
    border-bottom-style: solid;
    border-bottom-width: 3px!important;
      
      font-size: 16px !important;
      /*letter-spacing: 1px;*/
      
  }
  .navbar-brand {
    float: left;
    height: 50px;

    font-size: 17px;
    line-height: 16px;
}
.navbar-right
{
  background-color: rgb(66,64,149)!important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: rgb(66,62,149) !important;
}
.navbar li a, .navbar .navbar-brand {
    color: rgb(255, 250, 250) !important;
    font-size: 16px
}

  .navbar-header a:hover{
     color: #fff !important;
  }
  .navbar-nav li a:hover {
      color: #FFBD4A !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: rgb(66,62,149) !important; 
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
/*  .container {
      padding: 80px 120px;
  }*/

  #Aboutus{
    padding: 25px 120px;
       /* border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;*/
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  
.carusel itemactive {
  width:640px;
  height:360px;

}

.corusel img-responsive
{
  width: 100%; 
  height: 100vh !important;
}

 .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(20%); /* make all photos black and white */ 
     width: 100%; /* Set width to 100% */
    height: 90vh !important;
     margin: auto;

  }
  .carousel-caption h3 {
      color: #fff !important;
  }

  @media (max-width: 850px ) {
    .carousel-caption {
      display: none ;  Hide the carousel text when the screen is less than 600 pixels wide 
    }
  }

@media (max-width: 1132px) {
    .custimized {
      display: none; 
    }
  }

@media (max-width: 1132px) {
    .next-line {
      display: none; 
    }
  }
@media (max-width:   767px) {
    
    .custimized {
      display: table; }

    .next-line {
      display: table; 
    }
  }

  @media (max-width:   506px) {
    
    .custimized {
      display: table; }

    .next-line {
      display: none; 
    }
  }

 @media (max-width:   506px) {
    
    .custimized {
      display: none; }

    .next-line {
      display: none; 
    }
  }
 


  
  
  .bg-1 {
      background: rgb(197, 194, 234);
      color: #777;
      
  }
  .bg-2{
    background: rgb(197, 194, 234);
  
     color: #777;
     padding-top: 90px;
     padding-bottom: 40px;
    

  }
  }
  .bg-1 h3 {color: #111;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      /*background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;*/
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #ffffff;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(10%);
  }  
 
  .open .dropdown-toggle {
      color: black!important;
      /*background-color: rgb(66,62,149) !important;*/
  }
  .dropdown-menu li a {
    background-color:rgb(66,62,149); 
     /* color:  white !important;*/
  }
  .dropdown-menu li a:hover {
      background-color: rgb(66,62,149)!important;
     /* color:rgb(255,244,1) !important;*/
  }

  .glyphicon {
      color: white !important;

}

  .glyphicon:hover {
      color: #FFBD4A !important;

}

  footer {
      background-color: rgb(7, 7, 19);
      color: #f5f5f5 !important;
      padding: 10px;

     
  }
  .footer a {

   /* color: rgb(255,255,255) !important;*/
/*background-color: #f5f5f5*/
  }
 /* .footer a:hover {
      color: #000000 !important;
     
  }  
*/
  .footer a: focus {
    color: #000000 !important;
  }
  /*.footer up-arrow{
   color:  !important;
  }*/
.div row
{

}
 /* span{
   color: rgb(255,255,255) !important;
  }
  span:hover{
   color:   #000000 !important;
  }*/

    .form-control {
      border-radius: 0;
  }
  .textarea {
      resize: none;
  }

  .w3-bar .w3-button {
    padding: 16px;
}

.next-line{
  position: absolute;
    top: 30px;
    left: 123px;
        font-size: 14px;
        color: black;
}

.custimized{
  
     position: absolute;
    top: 10px;
    left: 71px;
    font-size: 25px;
    color: white;

}

.h3 {
      display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: inherit;
    font-weight: 500;
    line-height: 3.1 ;
    color: black;
}


h3, h4 {
    margin: 18px 0 32px 0;
    letter-spacing: 5px;
    font-size: 23px;
    color: #000;
  }

h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 4.1;
    color: #fbfbfb;
}

.hero h1 {

    font-size: 3em;
    font-weight: bolder;
   margin: -57px;
    padding: 3px;
}

.hero {
    position: absolute;
    top:-210px;
    
    z-index: 40;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
   /* text-shadow: 1px 1px 0 rgb(249, 11, 11);*/
    -webkit-transform: 

}
 .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
 .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn {
    border-radius: 0;
    transition: 2.2s;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  }

  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
}
.btn.btn-hero, .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #000000;
    border-color: #ffffff;
    outline: none;
    margin: 12px auto;
}
.btn.btn-hero:hover{
  background-color: yellow !important;
  color: black !important;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Castom-overlay {
    margin: 14px 0 30px 0;
    letter-spacing: 5px;
    font-size: 27px;
    color: #fbfbfb;
}

element.style {
    top: 5px;
}

b, strong {
    font-weight: 700;
   letter-spacing: initial !important;
       font-family: "Raleway", sans-serif;


}
/*.like-container{
padding: 80px 120px;
  }
}*/

#footer-bg{
     padding: 0px 46px;
   /* background-color: #969090;*/
 background-color: rgb(121, 121, 121)!important;
 /*font-size: 14px!important;*/
 line-height: 1.42857143!important;

    
}

.link{
    font-family: inherit;
    font-weight: 500;
    line-height: 2.1; 
    font-size: 21px;
}

.link1{
color: #d2d0d0;
text-decoration: none !important;

}
.link2{
color: white;
text-decoration: none !important;
}

a:focus, a:hover {
   color:  #FFBD4A;
}

.fa {
  padding: 10px;
  font-size: 18px;
  width: 37px;
  text-align: center;
  text-decoration: none !important;
 /* margin: 5px 2px;*/
  border-radius: 50%;
    color: white!important;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998 ;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.menu {
    width: 50%;
    float: left;
   /* padding: 15px;*/
    border: 4px solid black;
}

.img-responsive{

      width: 48px;
    height: 41px;
}

.Container{
  padding: 80px 120px;
}

.col-md-12{
  text-align:center; ;
}

.domain {
  padding-bottom: 100px;
  padding-top: 80px;
  background-color: #e4e4e4d6;
  /*border-top-color: #FFBD4A;
  border-top-width: 8px;
  border-top-style: double;

border-bottom-color: #ffbd4a;
border-bottom-width: 8px;
border-bottom-style: double;*/
}
/*
Ourvalues*/

.domain ul {
    width: 100%;
    position: relative;
}

.menu {
    list-style: none !important;
    padding-left: 217px!important;
}

.domain li.heading {
    float: none;
    background:black;
    position: absolute;
    left:  427px;
    top: 0;
    text-align: center;
    padding: 18.5% 0;
    font-weight: 600;
    color: rgb(255,244,1);
    font-size: 27px;
    font-weight: 300;
    line-height: 0;
    text-transform: uppercase;
}
.domain li {
    width: 26%;
    float: left;
    height: 139px;
    margin-bottom: 1px;
    margin: auto;
    position: relative;
    border-right: 2px solid #26252b;
        border-left: 2px solid #26252b;
}
li {
    text-decoration: none;
    list-style-type: none;
}
a.box {
    color: #fff;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
a {
    
    text-decoration: none;
    background-color: transparent;
}

.content {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
        left: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    height: 5em;
    transition: all .4s ease;
}

.box img {
    width: 20%;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    padding-top: 20px;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

.box p {
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 5px;
    line-height: 1.5em;
    text-transform: uppercase;
}

p {
    
    text-decoration: none;
        font-family: "Raleway", sans-serif;
      /*text-align: justify;*/
    /*text-justify: inter-word;*/
}

.custom{
   text-align: justify;
       font-size: 17px;
}
.img-responsive {
    width: 260px;
    height: 140px;
}

.menu{
  background-color: rgb(197, 194, 234) !important;
}

  

.domain li.heading:hover {
    /*background-color: black!important; */
    color: rgb(255,244,1)!important;
}

/*overlay*/

.overlay {
  position: absolute;
  top: -33px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 187%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(66,62,149)!important;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text:hover{
  color: rgb(255,244,1);
}

@media only screen and (max-width: 991px) and (min-width: 768px)
{
.heading {
    float: none;
    background: #7dc24d;
    left: 0px !important;
    top: 0;
    text-align: center;
    padding: 1% 0;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    margin: 2px 0px;
    text-transform: uppercase;
}
}
.domain ul {
    width: 100%;
    position: relative;
}

.menu {
    list-style: none !important;
}

ul, li, ol {
    margin: 0;
    text-decoration: none;
}

@media only screen and (max-width: 991px) and (min-width: 768px)
styles.css:13580
.domain li {
    width: 50%;
    float: left;
    height: auto;
    margin-bottom: 1px;
    margin: auto;
    position: relative;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

a.box {
    color: #fff;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.content {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    height: 5em;
    transition: all .4s ease;
}
.box img {
    width: 20%;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    padding-top: 20px;
}
img {
    vertical-align: middle;
}
@media(max-width: 1199px){
  .domain li.heading {
    float: none;
    background: black;
    position: absolute;
    left: 335px;
    top: 0;
    text-align: center;
    padding: 22.5% 0;
    font-weight: 600;
    color: rgb(255,244,1);
    font-size: 27px;
    font-weight: 300;
    line-height: 0;
    text-transform: uppercase;
}

.menu {
    list-style: none !important;
    padding-left: 167px!important;
    }


}

@media(max-width: 990px){
.menu {
    list-style: none !important;
    padding-left: 127px!important;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.heading{
      background-color: black;
    color: antiquewhite;
    text-align: center;
}
}

@media(max-width: 725px){
.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
}

@media(max-width: 710px){
.menu {
    list-style: none !important;
    padding-left: 113px!important;
}



}

@media(max-width: 554px){
.menu {
    list-style: none !important;
    padding-left: 90px!important;
}

}

@media only screen and (max-width: 540px) and (min-width: 300px){

  .menu {
    list-style: none !important;
    padding-left: 68px!important;
}
}
@media only screen and (max-width: 657px) and (min-width: 490px){
.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

}

@mediascreen and (max-width: 450px) {

  .text {
    color: white;
    font-size: 4px!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

}
.w3-container{
    /* background-color: #d4d4d459;*/
/*        border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;
}*/
}
.w3-center {
    text-align: center!important;
    margin: 43px 0px 20px 0!important;

}

h3 {
    font-size: 24px;
}

h3 {
    font-family: "Raleway", sans-serif;
}


.w3-large {
    font-size: 17px!important;
    margin: 0px 0px 20px 0!important;
    letter-spacing: 1px!important;
    font-size: 23px;
    color: #777;
}

.w3-grayscale {
    filter: grayscale(60%);
        padding-bottom: 40%!important;
        /*background-color:#d4d4d459; */
 /*border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;*/
}

.w3-row-padding>.w3-col {
    padding: 0px 8px;
    }

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left!important;
    width: 33.33%!important;
}


@media (min-width: 993px)
{
.w3-col.l3 {
    width: 24.99999%;
}
}
@media (min-width: 601px)
{
.w3-col.m6, .w3-half {
    width: 49.99999%;
}
}

.w3-margin-bottom {
    margin-bottom: 16px!important;
}

.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

img {
    margin-bottom: -5px;
}

img {
    border-style: none;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-opacity, .w3-hover-opacity:hover {
    opacity: 1.0;

}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.w3-block {
    display: block;
    width: 100%;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.w3-block {
    display: block;
    width: 100%;
}

 
@media (min-width: 993px)
{
.w3-col.l3 {
    width: 24.99999%;
}

}

h3, h4 {
    margin: 18px 0px 39px 0!important;
    letter-spacing: 1px!important;
    font-size: 23px;
    color: #777;
    font-family: "Raleway", sans-serif;
}

.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
   padding: 8px 8px;

}

@media (min-width: 993px)
{
.w3-col.l3 {
    width: 32.99999%;
}
}

@media (min-width: 601px)
{
.w3-col.m6, .w3-half {
    width: 49.99999%; 
}
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.w3-opacity, .w3-hover-opacity:hover {
   /* opacity: 0.60;*/
}

.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.w3-section{
  padding-bottom:  37%;
  }

  .positioncustom{

    position: absolute;
    bottom: -469%;;
    left: 11px;
  }

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important;
}

.w3-padding-64 {
    padding-top: 68px!important;
    padding-bottom: 168px!important;
  
}

@media (min-width: 601px)
{
.w3-col.m3, .w3-quarter {
    width: 24.99999%!important;
}
}

.w3-xxlarge {
    font-size: 36px!important;
}

.w3-quarter {
    /*float: left!important;
    width: 100%!important;*/
}

h2 {
    font-size: 23px;
        font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #7b7a7a;
    font-weight: 600;
    margin-bottom: 30px;
        text-decoration: underline;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@media screen and (min-width: 768px)
{
.carousel-indicators {
    bottom: 20px;
}
}

.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media not all, (-webkit-transform-3d)
vendor-prefixes.less:173
.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media not all, (-webkit-transform-3d)
bootstrap.css:6282
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-control.left {
    /*background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(255, 251, 251, 0.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;*/
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

#portfolio{
padding: 60px 60px;
   /* border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;*/
}

@media only screen and (max-width: 390px) and (min-width: 266px){
  .name{
        height: 70%!important;
    display: inline-block!important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ddd!important;
}
}

@media only screen and (max-width: 600px) and (min-width: 260px){
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(20%);
    width: 100%;
    height: 50vh !important;
    margin: auto;
}
}

@media(max-width: 768px){
  .navbar-right
{
  display: all!important;
}


}

@media only screen and (max-width: 770px) and (min-width: 250px){
 .name{
       /* height: 65%!important;*/
    display: inline-block!important;
  }
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ddd!important;
}

.navbar-right {
     display: all;
}
}


/*@media only screen and (max-width: 615px) and (min-width: 260px){
#Aboutus {
     padding: 0px 120px;
    border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;
}

}*/

@media (max-width: 605px){

#Aboutus{    padding: 0px 10px!important;
   /* border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;*/
}
}

@media (max-width: 600px){

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
     float: none!important;
   width: 99.33%!important;
}

.w3-grayscale {
    filter: grayscale(60%);
    padding-bottom: 15%!important;
    /* background-color: #d4d4d459; */
}

}

@media only screen and (max-width: 945px) and (min-width: 600px){

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
     float: left!important;
   width: 33.33%!important;
}

.w3-grayscale {
    filter: grayscale(60%);
    padding-bottom: 55%!important;
    /* background-color: #d4d4d459; */
}
./*w3-container, .w3-panel {
    padding: 0.01em 10px!important;
}

.w3-container {
    /* background-color: #d4d4d459; */
    /*margin: 10px 10px 77px 0px!important;
}*/
}

@media only screen and (max-width: 945px) and (min-width: 600px){

  .w3-quarter {
    float: left!important;
    width: 24.33%!important;
}
}

@media(max-width: 600px){
.w3-padding-64 {
    padding-top: 16px!important;
    padding-bottom: 28px!important;
   
}

}

@media(max-width: 490px){
  .domain{
    display: none;
  }
}


@media(max-width: 490px){
 #portfolio {
    padding: 60px 0px;
  /*  border-bottom-color: #ffbd4a;
    border-bottom-width: 8px;
    border-bottom-style: double;*/
}
}

.container {
  position: relative!important;
 /* width: 50%!important;*/
 
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%!important;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ourclass{
  text-decoration:underline;
}


@media only screen and (max-width: 805px) and (min-width: 700px){
.text {
    white-space: nowrap;
    color: white;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

}

@media only screen and (max-width: 700px) and (min-width: 600px){

  .text {
    white-space: nowrap;
    color: white;
    font-size: 14px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
}

@media only screen and (max-width: 1150px) and (min-width: 700px){
  .w3-container, .w3-panel {
   padding: 0.01em 16px;
    margin-bottom: 60px;
}
}

@media only screen and (max-width: 818px) and (min-width: 600px){
  .w3-container, .w3-panel {
   padding: 0.01em 16px;
    margin-bottom: 100px;

}


}
@media only screen and (max-width: 600px) and (min-width: 260px){
  .w3-section {
    padding-bottom: 0%;
}#portfolio {
    padding: 23px 35px;
}

#portfolio {
    padding: 23px 35px;
}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position: relative!important;
min-height: 1px!important;
/*padding-right: 15px;*/
padding-left: 15px!important;
}

.w3-xxlargea {
    font-size: 36px!important;
}

.w3-xxlargeaa {
    font-size: 36px!important;
}

.w3-xxlargeaaa {
    font-size: 36px!important;
}

#work{
margin-bottom: 80px;
}


@media only screen and (max-width: 1203px) and (min-width: 991px){
.fa {
    padding: 10px;
    font-size: 12px;
    width: 28px;
    text-align: center;
    text-decoration: none !important;
    /* margin: 5px 2px; */
    border-radius: 50%;
    color: white!important;
}

}

@media only screen and (max-width: 991px) and (min-width: 266px){


.faa {
    padding: 10px;
    font-size: 12px;
    width: 28px;
    text-align: center;
    text-decoration: none !important;
    /* margin: 5px 2px; */
    border-radius: 50%;
    color: white!important;
    margin-bottom: 40px;
}
.link{
  text-align: left!important;
}


}